/*----------------------------------------------------------------------------------------- Body Style---*/

body {
    font-family: "Alegreya", sans-serif;
}

.logo {
    font-family: "Dancing Script", sans-serif;
    font-weight: bolder;
    font-size: x-large;
}

h2 {
    font-family: "Dancing Script", sans-serif;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.overlay-sm {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.bring-front {
    z-index: 1;
}

.text-colour {
    color: #f8f9fa;
}

.section-container {
        height: 100vh;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

/*----------------------------------------------------------------------------------------- Navbar---*/

.navbar-style {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: #f8f9fa;
}

.nav-style {
    font-family: "Indie Flower", sans-serif;
    font-weight: bolder;
}

.contact-link {
    font-family: "Indie Flower", sans-serif;
    font-weight: bolder;
    color: #000
}

.contact-link:hover {
    color: #6b6e6f;
}

/*----------------------------------------------------------------------------------------- Header ---*/

.header-container {
    height: 100vh;
    background: url("../images/Bakery.jpg") no-repeat bottom right fixed;
}

.header {
    color: #f8f9fa;
    font-family: "Dancing Script", sans-serif;
    font-weight: bolder;
    font-size: 90px;
}

.intro {
    color: #f8f9fa;
    margin-top: 70px;
    font-size: 20px;
}

/*----------------------------------------------------------------------------------------- Delivery to your door ---*/

.delivery-container {
    background: url("../images/orange_cupcake_og.jpg") no-repeat top center fixed;
}

/*----------------------------------------------------------------------------------------- Catering ---*/

.catering-container {
    background: url("../images/brownies_og.jpg") no-repeat bottom left fixed;
}

/*----------------------------------------------------------------------------------------- Subscription ---*/

.subscription-container {
    background: url("../images/choc_cake.jpg") no-repeat center fixed;
}

/*------------------------------------------------------------------------------------------- Prices --------*/

.prices-container {
    height: 100%;
    background: #daf0f9;
}

.price-header {
    margin-top: 30px;
    margin-bottom: 30px;
}

.menu-subtitle {
    font-family: "Dancing Script", sans-serif;
    margin-top: 25px;
    margin-bottom: 25px;
}

.bespoke-prices {
    margin-top: 40px;
}

.delivery-price {
    margin-top: 30px;
    margin-bottom: 50px;
    font-family: "Indie Flower", sans-serif;
    font-weight: bolder;
    font-size: larger;
}

.catering-price {
    margin-top: 20px;
    margin-bottom: 25px;
}

.catering-title {
    font-family: "Dancing Script", sans-serif;
}

.menu-items {
    margin-bottom: 10px;
    display: block;
    clear: both;
}

.menu-items .key,
.menu-items .value {
    padding-right: 10px;
    display: inline-block;
}

.menu-items .key p,
.menu-items .value p {
    margin: 0;
}

.menu-items .key {
    width: 60%;
    margin-right: 10px;
    padding-top: 2px;
    vertical-align: top;
}

.menu-items .value {
    width: 30%;
    position: relative;
    font-size: large;
    font-weight: bolder;
}

/*----------------------------------------------------------------------------------------- Contact form ---*/

.contact-container {
    height: 100%;
}

.contact-header {
    margin-top: 30px;
    margin-bottom: 40px;
}

.contact-info {
    margin-top: 20px;
    margin-bottom: 20px;
}

.contact-title {
    font-family: "Dancing Script", sans-serif;
}

.center-form {
    margin-bottom: 30px;
}

.contact-p {
    margin-top: 50px;
    margin-bottom: 50px;
}

.form-control {
    margin-bottom: 5px;
}

.address {
    font-size: larger;
}

.contact-shoutout {
    margin-bottom: 20px;
}

/*----------------------------------------------------------------------------------------- Footer ---*/

.footer-container {
    background-color: #f8f9fa;
    margin-top: 30px;
    padding-top: 15px;
}

.price-pdf{
    margin-bottom: 7px;    
}

.social-links i {
    color: #17a2b8;
    font-size: 20px;
    padding-left: 7.5px;
    padding-right: 7.5px;
}

.social-links i:hover {
    color: #177888;
}

/*----------------------------------------------------------------------------------------- Media Queries ---*/

@media(min-width: 992px) {
    .section-container {
        height: 100vh;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .header-container {
        background: url("../images/bakery.jpg") no-repeat bottom right fixed;
         -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

@media(min-width: 768px) {
    .section-container {
        height: 100vh;

        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .delivery-container {
        background: url("../images/orange_cupcakes.jpg") no-repeat bottom center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .catering-container {
        background: url("../images/brownies.jpg") no-repeat bottom center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .subscription-container {
        background: url("../images/choc.jpg") no-repeat center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .contact-container {
        height: 90vh;
    }
    .intro {

        font-size: 30px;
    }
    .header {
        color: #f8f9fa;
        font-size: 100px;
    }
    .delivery-header {
        margin-bottom: 100px;
    }
    .catering-header {
        margin-bottom: 100px;
    }
    .subscription-header {
        margin-bottom: 100px;
    }
    .p-spacing {
        margin-bottom: 70px;
    }
    .text-colour {
        color: #000;
    }
    .overlay-sm {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0);
    }
    .p-padding {
        padding-left: 50px;
        padding-right: 50px;
    }
    .lg-padding {
        padding-left: 15%;
        padding-right: 15%;
    }
}
